.criar-cobrancas {
  flex: 1;
  display: flex;

  /* width: 1100px; */
  height: 800px;
  background: #f7f7f7;
}
.content-criar-cobrancas {
  flex: 1;
  margin-left: 264px;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 70px;
  background-color: white;
}

.cadastro-cobranca {
  width: 520px;
  margin: 0 auto;
}

.cadastro-cobranca > label {
  color: #374952;
  font-size: 16px;
  line-height: 15px;
  font-weight: 600;
  margin-left: 0.25rem;
  display: block;
  margin-bottom: 2rem;
}

.cadastro-cobranca > label > p {
  font-size: 12px;
  line-height: 15px;

  /* identical to box height */
  letter-spacing: 0.25px;
  font-weight: 400;
  margin-left: 0.25rem;

  /* neutral/gray/mid */
  color: #868686;
}

.cadastro-cobranca input,
select,
textarea {
  border: 1px solid #374952;

  border-radius: 0.5rem;
  width: 100%;
  padding: 12px 14px;
  background-color: white;
}

#valor {
  width: 184px;
  border: 1px solid #374952;
  border-radius: 0.5rem;
  padding: 12px 14px;
  background-color: white;
  margin-right: 1rem;
}
#vencimento {
  background: url(../../assets/calendar.svg) no-repeat scroll;
  width: 312px;
  border: 1px solid #374952;

  border-radius: 0.5rem;

  padding: 12px 14px;
  background-color: white;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}
.buttons-container button {
  padding: 11px 60px;
  border-radius: 1rem;
  font-weight: 600;
}
.buttons-container button:first-child {
  margin-right: 1rem;
}

.cancelar {
  border: 2px solid #da0175;
  color: #da0175;
  background: #ffffff;
}

.criar-cobranca {
  /* background: rgba(218, 1, 117, 0.35); */
  background: #da0175;

  color: #ffffff;
  border-radius: 20px;
}

.criar-cobranca:disabled {
  background: rgba(218, 1, 117, 0.35);
}

.criar-cobrancas form > * + * {
  margin-top: 2em;
}

.corpo {
  background-color: #f7f7f7;
}
.profile {
  background-color: #f7f7f7;
}

.content {
  display: flex;
  flex-direction: column;
}

.content h1 {
  margin-bottom: 1.5rem;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
}

.content .wrapper {
  width: 100%;
  margin: 0 auto;
  border-radius: 16px;
}

.content .wrapper form label > p {
  margin-top: 0.25rem;
}

.divisor {
  display: flex;
  justify-content: space-between;
}

.divisor label {
  color: #374952;
  font-size: 16px;
  line-height: 15px;
  font-weight: 600;
  margin-left: 0.25rem;
}
