* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  display: flex;
}

.menu {
  flex: 1;
  max-width: 264px;
  background-color: #263238;
  border: 1px solid white;
}
.logo {
  width: 264px;
  margin: 0 auto;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 3.625rem;
  margin-top: 2rem;
  padding: 0 3rem;
}
.menu nav {
  width: 100%;
  margin: 0 auto;
}
.menu > button {
  cursor: pointer;
  background: #da0175;
  border-radius: 20px;
  padding: 11px 60px;
  align-self: center;
  width: 226px;
  margin: 0 auto;
  color: white;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #f7f7f7;
}
.menu nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu nav ul li {
  max-width: 264px;
  width: 100%;

  padding: 1rem 3rem;
  color: white;
  text-transform: uppercase;
}
.menu nav ul li:hover {
  background: #374952;
  transition: 400ms;
}

.menu nav ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;
  color: white;
}

.menu nav ul li img {
  margin-right: 20px;
  width: 1.5rem;
}

.menu nav ul li img:first-child {
  margin-right: 28px;
}
